@model BandAide.Web.Models.ViewModels.BandDashboardVM

@{
    ViewBag.Title = "BandDashboard";
}

<h2>@Model.BandName</h2>
<h5>Created on @Model.CreatedOn.ToShortDateString()</h5>

<div class="row">
    @foreach (var u in Model.BandMembers)
    {
        <div class="col-xs-3">
            @Html.ActionLink(u.FullName, "Details", "Users", new { userId = u.Id }, null)
        </div>
        foreach (var s in u.InstrumentSkills)
        {
            <div class="text-info">@s.Instrument.Name @s.Proficiency.ToString()</div>
        }
    }
    <p>
</div>
@Html.ActionLink("Back to User Dashboard", "Index", "Home")
</p>
