@model BandAide.Web.Models.ViewModels.BandDashboardVM

@{
    ViewBag.Title = "Band Dashboard";
}

<h2>@Model.BandName</h2>
@if (DateTime.Now - Model.CreatedOn > TimeSpan.FromMinutes(1))
{
    <h5 class="text-info">Created @Model.Age ago</h5>
}
else
{
    <h5 class="text-info">New band formed!</h5>
    <div class="text-primary">Looks like you need some people to play with.</div>
}

<div class="row col-xs-12">
    <h5>Members</h5><hr />
</div>

    @foreach (var u in Model.BandMembers)
    {<div class="row">
        <div class="col-xs-3">
            @Html.ActionLink(u.FullName, "Details", "Users", new { userId = u.Id }, null)
        </div>
        <div class="col-xs-6">
            @foreach (var s in u.Instruments)
            {
                <div class="text-muted">@s.Name</div>
            }
        </div>
    </div>
        }
<div class="row col-xs-12">
    <h5>Actions</h5><hr />
</div>
<div class="row">
    <div class="col-xs-12">
        @Html.ActionLink("Invite member", "AddMember", "Bands", new { bandId = Model.BandId }, null)<br />
        @Html.ActionLink("Search for member by instrument", "QueryByInstrument", "Bands", new { bandId = Model.BandId }, null)
        <hr />
        Currently searching for:
    </div>
</div>

    @foreach (var q in Model.NeedMemberQueries)
    {
       @q.Instrument.Name <br />
    }
