@model BandAide.Web.Models.ViewModels.UserDashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}


@if (@Model.MemberOfBands.Count == 0)
{
    <h4>
        You're not currently in a band. Would you like to
        @Html.ActionLink("create one", "Create", "Bands")
        or @Html.ActionLink("look for one to join?", "QueryForBand", "Users", new { userId = Model.UserId }, null)
    </h4>
}
else
{
    <div class="row">
        <div class="col-xs-3">Band</div>
    </div>
    <div class="container">
        @foreach (var b in Model.MemberOfBands)
        {
            <div class="row">
                <div class="col-xs-2">
                    <div class="text-primary">@Html.ActionLink(b.Name, "BandDashboard", "Home", new { bandId = b.Id }, null)</div>
                </div>
                <div class="col-xs-3">
                    @foreach (var u in b.Members)
                    {
                        @Html.ActionLink(u.FullName, "Details", "Users", new { userId = u.Id }, null)
                    }
                </div>
            </div>
        }
    </div>

}

<input type="hidden" id="instrument-result" />
<div id="SearchOptionsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Band Search Options</h4>
            </div>
            <div class="modal-body">
                @{//If user hasn't set up any instrument skills, push them towards the page to do so
                    if (Model.InstrumentSkills.Count == 0)
                    {
                        <p>You haven't told us about any of your skills.. </p>
                        var link = @"\users\userprofile?id=" + Model.UserId;
                        <p>
                            You can do so through the <a href=@link>User Profile page.</a>
                        </p>
                    }
                    //Otherwise, show their instrument skills and ask them to make a choice
                    else
                    {
                        <p>Select your preferred instrument. </p>
                        <div class="dropdown">
                            <button id="instLabel" type="button" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select
                                <span class="caret"></span>
                            </button>
                            <ul id="instrument-menu" class="dropdown-menu" aria-labelledby="instLabel">
                                @foreach (var sk in Model.InstrumentSkills)
                                {
                                    <li class="inst-option" id=@sk.Instrument.Id data-bind="SelectedInstrument" data-dismiss="modal">@sk.Instrument.Name</li>
                                }
                            </ul>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>







@section scripts
{
    <script>
        $(document).ready(function () {

            $("h3").click(function () {
                alert("!!!!!");
            });
        });
    </script>
}