@model BandAide.Web.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row">
        <h2>@Html.DisplayFor(model => model.FullName)</h2>
        <h4 style="font-family: cursive"><a href=@("mailto:"+ Model.Email)>@Model.Email</a></h4>
        <hr/>
    </div>
    @if (Model.Bio != null)
    {<div class="row">
        <div class="col-xs-3">
            @Html.DisplayNameFor(model => model.Bio)
        </div>
        <div class="col-xs-3">
            @Html.DisplayFor(model => model.Bio)
        </div>
    </div>
    }
    @if (Model.City != null && Model.State != null)
    {
        <div class="row">
            @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => Model.State)
        </div>
    }
</div>

