@model IEnumerable<BandAide.Web.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<div class="container">

    @foreach (var item in Model)
    {

        <div class="row">
            <div class="col-xs-3">
                @Html.DisplayFor(modelItem => item.FullName) <br />
                @*Age: @Html.DisplayFor(modelItem => item.Age)<br />*@
                @foreach (var skill in item.InstrumentSkills.OrderByDescending(x => x.Proficiency))
                {
                    <div class="label-info" style="font-size: .5em">@(skill.Instrument.Name + " : " + skill.Proficiency)</div>
                }
                <hr />
            </div>
            <div class="col-xs-5">
                @Html.DisplayFor(modelItem => item.City),
                @Html.DisplayFor(modelItem => item.State)
            </div>
            <div class="col-xs-4">
                @Html.DisplayFor(modelItem => item.Bio)
            </div>


        </div>
    }

</div>
