@using BandAide.Web.Models
@model BandAide.Web.Models.ViewModels.InstrumentSkillsViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.UserId)

    <div class="form-horizontal">
        @{
            var instrumentsPlayed = Model.InstrumentSkills.Select(x => x.Instrument).ToList();
            var instrumentsNotPlayed = Model.AllInstruments.Where(x => instrumentsPlayed.Contains(x) == false);
            int colCount = 6;
           
        }

        @if (Model.InstrumentSkills.Count == 0)
        {
            <div class="row">
                <h4>You haven't told us about your musical skills.</h4>
            </div>
        }
        <div class="row">
            <div class="col-xs-6">
                <h4>Skills you've told us about</h4>
            </div>
            <div class="col-xs-6">
                <h4>Add instrument skill.</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                
                @foreach (var inst in instrumentsPlayed)
                {
                    <div class="col-xs-3">
                        <img id=@inst.Id
                             src=@("/content/" + inst.Name + "_icon.png")
                             width="100px" />
                    </div>
                }
            </div>


            <div class="col-xs-6">
                <div class="row">
                    @foreach (var i in instrumentsNotPlayed)
                    {
                        <div class="col-xs-3">
                            <a href="@Url.Action("AddSkill", new {selectedInstrumentId = i.Id, Proficiency = Proficiency.Intermediate})">
                                <img id=@i.Id
                                     src=@("/content/" + i.Name + "_icon.png")
                                     width="100px" />
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>

        @Html.ActionLink("Back to Profile", "UserProfile", "Users", new { Id = Model.UserId }, null)
    </div>
            }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}