@using Microsoft.Ajax.Utilities
@model BandAide.Web.Models.ViewModels.NeedBandQueryViewModel


@{
    ViewBag.Title = "Search by instrument";
}

@Html.AntiForgeryToken()

@{
    var instrumentsPlayed = Model.MyInstrumentSkills.Select(x => x.Instrument).DistinctBy(y => y.Id).ToList();
    int colCount = 6/instrumentsPlayed.Count;
}
<div class = "row" >
    @foreach (var inst in instrumentsPlayed)
    {
        <div class = "col-xs-@colCount" >
            <a href = "@Url.Action("QueryResults", new {userId = Model.User.Id, instrumentId = inst.Id})" >
                <img id = @inst.Id
                    src = @("/content/" + inst.Name + "_icon.png")
                    width = "100px"/>
            </a>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}