@model BandAide.Web.Models.NeedMembersQueryResultViewModel

@{
    ViewBag.Title = "Query Results";
}
<h3>Query posted.  Current results follow: </h3>

<table class="table">

    @foreach (var item in Model.Users)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
                @Html.ActionLink("Invite", "AddMember", "Bands", new { bandId = Model.Band.Id, NameOfUserToInvite = item.UserName, InstrumentId = Model.Instrument.Id }, null)
            </td>
            <td>
                @foreach (var skill in item.InstrumentSkills)
                {
                    <div>@skill.Instrument.Name</div><div class="text-muted">@skill.Proficiency</div><br />
                }
            </td>
          <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
              <a href=@("mailto:"+item.Email)>@item.Email</a> 
            </td>
         
        </tr>
    }

</table>
